*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Rejouice headline";
}
html,body{
    height:100%;
    width:100%;
}
#cursor{
    height:7.5vw;
    width:7.5vw;
    background-color:#FF5F38;
    border-radius:50%;
    position:fixed;
    z-index:9;
    display:flex;
    align-items:center;
    justify-content:center;
    transform:translate(-50%,-50%);
}
#cursor h3{
    font-size:1.15vw;
    font-weight:300;
}
#page1{
    height:100vh;
    width:100%;
    background-color:olive;
    position:relative;
}
#page1 video{
    height:100%;
    width:100%;
    object-fit:cover;
    position:absolute;
}
#page1-content{
    height:100%;
    width:100%;
    position:relative;
    z-index:10;
    color:#fff;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:space-between;
    padding-bottom:2vw;
}
nav{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:3vw 3vw;
}
nav h3{
    font-size:1.4vw;
    font-weight:200;
}
nav h4{
    font-size:1.4vw;
    font-weight:200;
}
#page1-content h1{
    font-family:sans-serif;
    font-family:100;
    font-size:25vw;
    line-height:27vw;
}
#page1-content h1 span{
    display:inline-block;
}
#page2{
    height:100vh;
    width:100%;
    background-color:beige;
    position:relative;
    padding:5vw 2.8vw;
    
}
#page2-top{
    width:100%;
    padding-bottom:1vw;
    margin-bottom:0.25vw;
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
}
#page2-top h3{
    font-size:1.7vw;
    font-weight:500;
}
#page2-top h4{
    font-size:1.7vw;
    font-weight:500;
}
.elem{
    overflow:hidden;
}
.elem h1{
    font-size:5vw;
    font-weight:500;
}
.elem h1 span{
    margin-left:9vw;
}
#page3{
    min-height:100vh;
    width:100%;
    position:relative;
    padding:3vw;
}
#page3-top{
    text-align:center;
}    
#page3-top h4{
    margin-bottom:1vw;
    font-size:1.2vw;
    font-weight:500;
}
#page3-top span{
    font-size:0.75vw;
    background-color:#000;
    padding:4px 8px;
    color:white;
    border-radius:16px;
}
#page3-top h2{
    font-size:4vw;
    font-weight:400;
    text-decoration:underline;
}
.page3-head{
    width:100%;
    margin-top:10vw;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}
.page3-head h5{
    font-size:1.7vw;
    font-weight:300;
}
#page3-elements{
    height:70vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:1vw;
}
#page3-elements .box{
    height:100%;
    width:32.5%;
    position:relative;
   
}
#page3-elements .box video{
    height:100%;
    width:100%;
    object-fit:cover;
    object-position:center;
}
#page3-elements .box img{
    position:absolute;
    height:100%;
    width:100%;
    object-fit:cover;
    object-position:center;
    transition:all linear 0.7s;
}
#page3-elements .box:hover img{
    opacity:0;
}
#page4{
    min-height:100vh;
    width:100%;
    position:relative;
    padding:3vw;
}
#page4-top h3{
    padding-bottom:1vw;
    margin-top:4vw;
    font-size:2vw;
    font-weight:500;
}
#round{
    height:7.5vw;
    width:7.5vw;
    background-color:#000;
    color:#fff;
    border-radius:50%;
    position:fixed;
    z-index:9;
    display:flex;
    align-items:center;
    justify-content:center;
    transform:translate(-50%,-50%);
}
#round h3{
    font-size:1.15vw;
    font-weight:300;
}
#page4-bottom{
    height:100vh;
    width:100%;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
}
#page4-bottom video{
    height:100%;
   
}
#page4-bottom svg{
    position:absolute;
    height:65%;
}
#page4 #inner-text{
    position:absolute;
    color:white;    
}
#inner-text h2{
    font-size:5vw;
    font-weight:500;
}
#inner-text h5{
    font-size:2vw;
    font-weight:300;
    font-family:sans-serif;
}
#page5{
    min-height:100vh;
    width:100%;
    position:relative;
    padding:3vw;
}
#page5-top h3{
    padding-bottom:1vw;
    margin-top:4vw;
    font-size:2vw;
    font-weight:500;
}
#page5-bottom{
    width:100%;
    padding:4vw 0;
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
    border-bottom:1px solid rgb(158,158,158);
}
#page5-bottom h3{
    font-size:8vw;
    font-weight:400;
   
}
#page5-bottom h4{
    font-size:1.7vw;
    font-weight:300;
}
#swiperdiv{
    height:40vh;
    width:100%;
    position:relative;
    margin-top:-4%;
}   
.swiper{
    width: 130%;
    height: 100%;
}
.swiper-slide{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.swiper-slide img{
    display: block;
    width: 19%;
    object-fit: cover;
}
#loader{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    background-color:black;
    z-index:99;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    gap:5px;
}
#loader h3{
    font-size:2vw;
    font-weight:100;
    font-family:sans-serif;
}
#loader h3 sup{
    font-size:0.95vw;
    font-family:sans-serif;
}
#aboutus{
    padding:10vw;
    text-align:center;

}
#aboutus h4{
    font-size:2vw;
    font-weight:200;
} 
#aboutus h2{
    padding:1vw;
    font-size:4vw;
    font-weight:500;
    text-decoration:2px solid underline;
    font-family:sans-serif;
}
#page6{
    height:90vh;
    width:100%;
    background-color:black;
    color:white;
    position:relative;
    padding:4vw 2vw;
}
#page6 h3{
    font-size:2vw;
    font-family:sans-serif;
    font-weight:100;
}
#page6 button{
    padding:10px;
    text-decoration:none;
    font-size:1.25vw;
    border-radius:5px;
    border:1px solid #fff;
    color:white;
    background-color:transparent;
    margin-top:1vw;
}
#page6 button:hover{
    background-color:#fff;
    color:black;
}
#page6-items{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
#page6-element1 nav{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-direction:column;
    margin-top:-50px;
    
}
#page6-element2 nav{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-direction:column;
    margin-top:-50px;
   
}
#page6-element1 a{
    color:#fff;
    text-decoration:none;
}
#page6-element2 a{
    color:#fff;
    text-decoration:none;
}
#portion-1{
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
    margin-top:8vw;
}
#portion-1 h3{
    font-size:1.5vw;
    font-family:sans-serif;
}
#portion-1 #part-2{
    margin-left:50vw;
}
#portion-2{
    width:100%;
    background-color:black;
    color:#fff;
}
#portion-2 h1{
    font-family:sans-serif;
    font-family:100;
    font-size:25vw;
    line-height:27vw;
    text-align:center;
}
#portion-2 span{
    display:inline-block;
    
}